html,body,main {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    scroll-behavior: smooth;
    font-family: Dreams;
}
.container {
    width: 100%;
    height: 100%;
}

.containALL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerArticle {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.commentaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: fit-content;
    margin: 0;
    background-color: var(--White-);
    box-shadow: 0 8px 8px  var(--Shadow-);

}
.styleTitreCom {
    text-align: center;
    font-family:  Dreams;
}
.styleTitreCom h1{
    font-style: italic;
    font-family:  Dreams;
}

#styleTitreTime {
    padding-bottom: 20px;
    font-size: 10px;
    margin: 0;
    font-family:  Dreams;
}
#styleTitreCat{
    font-size: 15px;
    margin: 0;
    font-family:  Dreams;
}
#styleTitreCreateBy {
    font-size: 15px;
    margin: 0;
    font-family:  Dreams;
}

.comm {
    padding: 1%;
    width: 100%;
    height: 100%;
}
.ComAndProfil{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.show_profil {
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    padding: 1%;
    width: 20%;
    background-color: var(--WhiteGrey-);
    box-shadow: 0 2px 3px  var(--Shadow-);
}

.show_com {

    width: 80%;
    height: 200px;
    margin: 0.5%;
    padding: 1%;
    background-color: var(--WhiteGrey-);
    box-shadow: 0 2px 3px  var(--Shadow-);
}
.send_com{
    border: none;
    width: 100%;
    background-color: var(--WhiteBlue-);
    box-shadow:  0 2px 3px var(--Shadow-);
}

.button {
    margin-bottom: 5%;
    margin-top: 1%;
    font-family: Dreams;
    width: 20%;
    height: 45px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.button:before {
    content: '';
    background: linear-gradient(50deg, var(--Color1bis-), var(--Color2bis-), var(--Color3bis-), var(--Color4bis-), var(--Color5bis-), var(--Color4bis-), var(--Color3bis-),  var(--Color2bis-), var(--Color1bis-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button:active {
    color: var(--Black-);
    text-decoration: underline;
}
.button:active:after {
    background: transparent;
}
.button:hover:before {
    opacity: 1;
}
.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteGrey-);
    left: 0;
    top: 0;
    border-radius: 10px;
}