/*PARAMETRE PAGE*/
html,body,main{
    height: fit-content;
    width: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: Dreams;
}

.Container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-articles-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: var(--DarkGrey-);
}
.box-articles{
    background-color: var(--Grey-);
    display: flex;
    align-items: center;
    padding: 3%;
    flex-direction: column;
    width: 60%;
    height: 80%;
    gap: 20px;
}
.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: 50%;
    text-align: justify;
    background-color: var(--WhiteBlue-);
    border-radius: 5px;
    font-size: 120%;
}

/*PARAMETRE MODAL*/

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    width: 50%;
    max-width: 90%;
    background: var(--WhiteBlue-);
    padding: 1% 2%;
}
.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-close {
    font-size: 200%;
    position: absolute;
    top: 0;
    right: 1.3%;
    color: var(--Red-);
    text-decoration: none;
}
/*PARAMETRE  BUTTON MODAL*/

.button {
    font-family: Dreams;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.button:before {
    content: '';
    background: linear-gradient(50deg, var(--Color1bis-), var(--Color2bis-), var(--Color3bis-), var(--Color4bis-), var(--Color5bis-), var(--Color4bis-), var(--Color3bis-),  var(--Color2bis-), var(--Color1bis-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button:active {
    color: var(--Black-);
    text-decoration: underline;
}
.button:active:after {
    background: transparent;
}
.button:hover:before {
    opacity: 1;
}
.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteGrey-);
    left: 0;
    top: 0;
    border-radius: 10px;
}
.button-com {
    font-family: Dreams;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.button-com:before {
    content: '';
    background: linear-gradient(50deg, var(--Color1bis-), var(--Color2bis-), var(--Color3bis-), var(--Color4bis-), var(--Color5bis-), var(--Color4bis-), var(--Color3bis-),  var(--Color2bis-), var(--Color1bis-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button-com:active {
    color: var(--Black-);
    text-decoration: underline;
}
.button-com:active:after {
    background: transparent;
}
.button-com:hover:before {
    opacity: 1;
}
.button-com:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteGrey-);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*PARAMETRE ARTICLES*/

