@import url(font.css);

html,body,main{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.kommeAnTher {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#styleTitre h1{
    font-style: italic;
    font-family:  Dreams;
}

#styleTitreTime {
    padding-bottom: 20px;
    font-size: 10px;
    margin: 0;
    font-family:  Dreams;
}
#styleTitreCat{
    font-size: 15px;
    margin: 0;
    font-family:  Dreams;
}
#styleTitreCreateBy {
    font-size: 15px;
    margin: 0;
    font-family:  Dreams;
}

.tchoutch {
    border: 1px solid black;
}