html,body,main{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: Dreams;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    border: 4px inset var(--Blue-);
    margin: 5%;
    height: 300px;
    width: 60%;
    min-width: 35%;
    box-shadow: 6px 7px 9px -2px var(--Shadow-);
}
th{
    border : 1px solid var(--DarkBlue-);
    color: var(--Color4bis-);
    text-align: center;
    background-color: var(--WhiteBlue-);
}
td{
    border-bottom : 1px solid var(--DarkBlue-);
    border-right : 1px solid var(--DarkBlue-);
    color: var(--Black-);
    background-color: var(--White-);
    text-align: center;
}
.table-button-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--White-);
    box-shadow: 0 8px 8px  var(--Shadow-);
    width: 90%;
    padding-top: 2%;
}
.table-button{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--WhiteGrey-);
    width: 80%;
    box-shadow:0 2px 3px var(--Shadow-);
}

.modif{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
    width: 100%;
    height: 230px;
}

.alone2{
    width: 25%;
    text-align: center;
    height: 100%;
}

.input-modif{
    border: none;
    background-color: var(--WhiteBlue-);
    width: 70%;
    height: 40px;
    font-family: Dreams;
    font-size: 100%;
}

.form-cat{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
}
.button-cancel{
    padding-right: 2%;
}

.button {
    font-family: Dreams;
    width: 50%;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.button:before {
    content: '';
    background: linear-gradient(50deg, var(--Color1bis-), var(--Color2bis-), var(--Color3bis-), var(--Color4bis-), var(--Color5bis-), var(--Color4bis-), var(--Color3bis-),  var(--Color2bis-), var(--Color1bis-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button:active {
    color: var(--Black-);
    text-decoration: underline;
}
.button:active:after {
    background: transparent;
}
.button:hover:before {
    opacity: 1;
}
.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteGrey-);
    left: 0;
    top: 0;
    border-radius: 10px;
}
.button2 {
    font-family: Dreams;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.button2:before {
    content: '';
    background: linear-gradient(50deg, var(--Color6-), var(--Color7-), var(--Color8-), var(--Color9-), var(--Color10-), var(--Color9-), var(--Color8-),  var(--Color7-), var(--Color6-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button2:active {
    color: var(--Black-);
    text-decoration: underline;
}
.button2:active:after {
    background: transparent;
}
.button2:hover:before {
    opacity: 1;
}
.button2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteGrey-);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}