html,body,main{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;

}

.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: Dreams;
}

.avert-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--WhiteBlue-);
    padding: 2%;
    box-shadow: 0 8px 8px  var(--Shadow-);
}

.avert{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 65%;
    padding: 3%;
    background-color: var(--Red-);
    border-radius: 50px;
    box-shadow:0 2px 3px var(--Shadow-);
}
.avert h2{
    text-shadow: 1px 1px 2px var(--Shadow-);
}

.button-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
p{
	text-align : center;
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1.75em;
	color : var(--Black-);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    background: var(--LightestBlue2-);
    max-width: 360px;
    padding: 5%;
    text-align: center;
    box-shadow:0 2px 3px var(--Shadow-);
}
.form .input {
    font-family: Dreams;
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.1em;
    letter-spacing: 1px;
    background-color:var(--WhiteBlue-);
}
.a{
    text-decoration: none;
    color: var(--Black-);
}
.modif {
    font-family: Dreams;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.modif:before {
    content: '';
    background: linear-gradient(50deg, var(--Color1-), var(--Color2-), var(--Color3-), var(--Color4-), var(--Color5-), var(--Color4-), var(--Color3-),  var(--Color2-), var(--Color1-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.modif:active {
    color: var(--Black-);
    text-decoration: underline;
}
.modif:active:after {
    background: transparent;
}
.modif:hover:before {
    opacity: 1;
}
.modif:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteBlue-);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


