@font-face {
    font-family:Azonix ;
    src: url(../font/Azonix.otf);
}
@font-face {
    font-family: Dreams ;
    src: url(../font/CaviarDreams.ttf);
}
@font-face {
    font-family: Entanglement ;
    src: url(../font/Entanglement-rgpRB.ttf);
}
@font-face {
    font-family: Sunflower;
    src: url(../font/MADE\ Sunflower\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: Magazine ;
    src: url(../font/Magazine.ttf);
}
@font-face {
    font-family:Vogue;
    src: url(../font/Vogue.ttf);
}
@font-face {
    font-family:Elekable;
    src: url(../font/OverseerItalic-qqV1.ttf);
}