@import url(root.css);

.footer{
    width: 100%;
    margin: 0;
    background: var(--LightestBlue-);
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.footer2{
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer2 h2{
    border-left: 2px solid var(--LightGrey-);
    border-right: 2px solid var(--LightGrey-);
    font-family: Dreams;
    display: flex;
    align-items: center;
    margin:0 1% 0 1%;
    height: 70%;
}

.footer3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.socialMedia{
    width: 30px;
    margin: 10px;
}

.socialMedia2{
    width: 40px;
}