html,body,main{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: var(--White-);
}

.footer{
    width: 100%;
    margin: 0;
    background: var(--RichBlackFOGRA--);
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer1{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.footer2{
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer3{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.socialMedia{
    width: 25px;
    margin: 3px;
}

.socialMedia2{
    width: 40px;
}