@import url(root.css);
@import url(font.css);

html,body,main{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    position: relative;
}
.header{
    background-color: var(--LightBlue-);
    padding-top: 1%; padding-left: 1%; padding-right: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titreHeader{
    display: flex;
    justify-content: center;
    font-size: 400%;
    font-family: Dreams;
}

.links{
    display: flex;
    flex-direction: row;
}

.linkHeader{
    text-decoration: none;
    font-family: Dreams;
    color: var(--Black-);
    margin: 1%;
}

.linkHeader:hover{
    color: var(--DarkestBlue-);
}


.gaucheHeader{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    width: 50%;
}

.droiteHeader{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    justify-content: center;
    justify-content: right;
    width: 50%;
}