@import url(root.css);
@import url(font.css);

html,body,main{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    position: relative;
}

.header{
    background-color: var(--LightBlue-);
    padding-top: 0.25%; padding-bottom: 0.25%;
    padding-left: 1%; padding-right: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Dreams;
    font-size: 90%;
}

.titreHeader{
    display: flex;
    justify-content: center;
    font-size: 400%;
    font-family: Dreams;
}

.links{
    display: flex;
    flex-direction: row;
}

.linkHeader{
    text-decoration: none;
    font-family: Dreams;
    color: var(--Black-);
    margin: 1%;
}

.linkHeader:hover{
    color: var(--DarkestBlue-);
}


.gaucheHeader{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    width: 50%;
    align-items: center;
}

.droiteHeader{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    justify-content: right;
    width: 50%;
    align-items: center;
}

.deco2 {
    font-family: Dreams;
    font-size: 100%;
    border: none;
    outline: none;
    color: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 100px;
    background-color: transparent;
}
.deco2:hover{
    color: var(--Red-);
}

.decoButton{
    display: flex;
    align-items: center;
}