@import url(root.css);

@import url(font.css);

html,body,main{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    position: relative;
}

.header{
    background-color: var(--LightBlue-);
    padding-top: 0.1%; padding-bottom: 0.1%;
    padding-right: 1%; padding-left: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Dreams;
    font-size: 90%;
}


.links{
    display: flex;
    flex-direction: row;
}

.linkHeader{
    text-decoration: none;
    color: var(--Black-);
    margin: 1%;
}

.linkHeader:hover{
    color: var(--DarkestBlue-);
}


.gaucheHeader{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    width: 50%;
}

.droiteHeader{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    justify-content: center;
    justify-content: right;
    width: 50%;
}