@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
@import url(root.css);
@import url(font.css);

/*Image Accueil*/
a{
    text-decoration:none
}

.header1{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:100%;
    min-height:400px;
    max-height:710px;
    min-width:300px;
    color: var(--White-);
}

.header1:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}

.header1:before{
    content:"";
    width:100%;
    height:200%;
    position:absolute;
    top:0;
    left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    scale : (1.0, 1.0);
    transform: translateZ(0);
    background:var(--DarkestBlue-) url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
    background-size:100%;
    background-attachment:fixed;
    animation: grow 360s  linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index:-2
}

.header1 a{
    color:var(--White-)
}


.info{
    width:100%;
    padding:5% 10% 0 10%;
    text-align:center;
    text-shadow:0 2px 3px var(--Shadow-);
}

.info h1{
    font-size:500%;
    font-family: Elekable;
    letter-spacing: 4px;
}


@keyframes grow{
    0% { transform: scale(1) translateY(0px)}
    50% { transform: scale(1.2) translateY(-400px)}
}

/*ACTUALITES*/
.content{
    display: flex;
    flex-direction: column;
    padding:5% 7%;
    gap: 130px;
}
.content h1{
    text-align: center;
    font-size: 400%;
    font-family: Entanglement;
}
.contentArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Dreams;
}
.article{
    display: flex;
    flex-direction: column ;
    align-items: center;
    box-shadow:0 2px 3px var(--Shadow-);
    gap: 41px;
    width: 30%;
    padding: 1%;
    letter-spacing: 1px;
    text-align: justify;
}
.article2{
    display: flex;
    flex-direction: column ;
    align-items: center;
    box-shadow:0 2px 3px var(--Shadow-);
    gap: 41px;
    width: 30%;
    padding: 1%;
    letter-spacing: 1px;
    text-align: justify;
}
.article3{
    display: flex;
    flex-direction: column ;
    align-items: center;
    box-shadow:0 2px 3px var(--Shadow-);
    gap: 40px;
    width: 30%;
    padding: 1%;
    letter-spacing: 1px;
    text-align: justify;
}
.imgArticleIndex{
    box-shadow: 0 8px 8px  var(--Shadow-);
}

/*BOUTON*/

.glow {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--White-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: Dreams;
    font-size: 130%;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: var(--Black-);
    text-decoration: underline;
}

.glow:active:after {
    background: transparent;
}

.glow:hover:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--Black-);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
