@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
@import url(root.css);
@import url(font.css);
/*Image Accueil*/
a{
    text-decoration:none
}

.header1{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:100%;
    min-height:400px;
    max-height:710px;
    min-width:300px;
    color: var(--White-);
}

.header1:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}

.header1:before{
    content:"";
    width:100%;
    height:200%;
    position:absolute;
    top:0;
    left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    scale : (1.0, 1.0);
    transform: translateZ(0);
    background:var(--DarkestBlue-) url(https://i.pinimg.com/originals/83/10/27/8310272150b3f68855075c08319b5fde.png) 50% 0 no-repeat;
    background-size:100%;
    background-attachment:fixed;
    animation: grow 360s  linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index:-2;
}

.header1 a{
    color:var(--White-)
}


.info{
    width:100%;
    padding:5% 10% 0 10%;
    text-align:center;
    text-shadow:0 2px 3px var(--Shadow-);
}

.info h1{
    font-size:500%;
    font-family: Elekable;
    letter-spacing: 4px;
}

.link-article{
    text-decoration: none;
    color: var(--Black-);
}

@keyframes grow{
    0% { transform: scale(1) translateY(0px)}
    50% { transform: scale(1.2) translateY(-400px)}
}

/*ACTUALITES*/
.content{
    display: flex;
    flex-direction: column;
    padding:5% 7%;
    gap: 130px;
}
.content h1{
    text-align: center;
    font-size: 400%;
    font-family: Entanglement;
}
.contentArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Dreams;
}
.article{
    display: flex;
    flex-direction: column ;
    align-items: center;
    box-shadow:0 2px 3px var(--Shadow-);
    gap: 41px;
    width: 30%;
    padding: 1%;
    letter-spacing: 1px;
    text-align: justify;
}
.article2{
    display: flex;
    flex-direction: column ;
    align-items: center;
    box-shadow:0 2px 3px var(--Shadow-);
    gap: 41px;
    width: 30%;
    padding: 1%;
    letter-spacing: 1px;
    text-align: justify;
}
.article3{
    display: flex;
    flex-direction: column ;
    align-items: center;
    box-shadow:0 2px 3px var(--Shadow-);
    gap: 40px;
    width: 30%;
    padding: 1%;
    letter-spacing: 1px;
    text-align: justify;
}
.imgArticleIndex{
    box-shadow: 0 8px 8px  var(--Shadow-);
}

