@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,body,main{
    font-family: Dreams;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: var(--White-);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 8px 8px  var(--Shadow-);
}
.form input {
    font-family: Dreams;
    outline: 0;
    background: var(--WhiteBlue-);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .message {
    margin: 15px 0 0;
    color: var(--color-txt-black);
    font-size: 100%;
}
.form .message a {
    color: var(--color-txt-black);
    text-decoration: none;
}

.link:hover{
    color : var(--Blue-);
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.button {
    font-family: Dreams;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.button:before {
    content: '';
    background: linear-gradient(50deg, var(--Color1bis-), var(--Color2bis-), var(--Color3bis-), var(--Color4bis-), var(--Color5bis-), var(--Color4bis-), var(--Color3bis-),  var(--Color2bis-), var(--Color1bis-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.button:active {
    color: var(--Black-);
    text-decoration: underline;
}
.button:active:after {
    background: transparent;
}
.button:hover:before {
    opacity: 1;
}
.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--White-);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

