html,body,main {
    height: 100%;
}

.Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-change-info{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
    background-color: var(--WhiteGrey-);
    box-shadow: 0 8px 8px  var(--Shadow-);
}

.box-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 5%;
    background-color: var(--WhiteBlue-);
    box-shadow:0 2px 3px var(--Shadow-);

}
.box-change a{
    text-decoration: none;
    color: var(--Black-);
}
.box-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5%;
    background-color: var(--WhiteBlue-);
    box-shadow:0 2px 3px var(--Shadow-);
}
.box-info h2 {
    font-size: 200%;
    text-align: center;
    font-family: Vogue;
    margin-bottom: 20%;
}
.box-change h2{
    font-size: 150%;
    font-family: Vogue;
    text-align: center;
}
.box-change h2 a{
    color: var(--Blue-);
    font-size: 120%;
    font-family: Vogue;
    text-align: center;
}
.box-info p{
    font-size: 150%;
    font-family: Dreams;
}

.modif {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: Dreams;
    font-size: 130%;
}

.modif:before {
    content: '';
    background: linear-gradient(50deg, var(--Color1-), var(--Color2-), var(--Color3-), var(--Color4-), var(--Color5-), var(--Color4-), var(--Color3-),  var(--Color2-), var(--Color1-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.modif:active {
    color: var(--Black-);
    text-decoration: underline;
}

.modif:active:after {
    background: transparent;
}

.modif:hover:before {
    opacity: 1;
}

.modif:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteBlue-);
    left: 0;
    top: 0;
    border-radius: 10px;
}
.deco {
    font-family: Dreams;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--Black-);
    background: var(--Black-);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 130%;
}
.deco:before {
    content: '';
    background: linear-gradient(50deg, var(--Color6-), var(--Color7-), var(--Color8-), var(--Color9-), var(--Color10-), var(--Color9-), var(--Color8-),  var(--Color7-), var(--Color6-));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.deco:active {
    color: var(--White-);
    text-decoration: underline;
}
.deco:active:after {
    background: transparent;
}
.deco:hover:before {
    opacity: 1;
}
.deco:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--WhiteBlue-);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
