.navbar{
    background: none;
    transition: 500ms ease;
}

.navbar.scrolled{
    background: #171717;
}

.nav-link{
    color: #ffffff!important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover{
    background: -webkit-linear-gradient(#B99429, #F3E290, #CB892B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul li a:before{
    transform: translateX(100%);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

nav ul li a:before:hover{
    transition: .1s transform linear, .1s height linear .1s;
    transform: translateX(0);
    height: 100%;
}

nav ul li a:after{
    transform: translateX(-100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

nav ul li a:after:hover{
    transition: .1s transform linear .2s;
    transform: translateX(0);
    height: 100%;
}
.nav-item{
    font-size: 18px;
}